## Welcome to Jellyfin Movie Recommender

## Imports & Sets

Firstly, we load the all data in csv files. The csv files are representation of a relational database.

In [2]:
import pandas as pd
import numpy as np

In [3]:
genome_scores_path = r"C:/Users/lunaf/Desktop/Projects/jellyfin-movie-recommender/data/genome-scores.csv"
genome_tags_path = r"C:/Users/lunaf/Desktop/Projects/jellyfin-movie-recommender/data/genome-tags.csv"
links_path = r"C:/Users/lunaf/Desktop/Projects/jellyfin-movie-recommender/data/links.csv"
movies_path = r"C:/Users/lunaf/Desktop/Projects/jellyfin-movie-recommender/data/movies.csv"
ratings_path = r"C:/Users/lunaf/Desktop/Projects/jellyfin-movie-recommender/data/ratings.csv"
tags_path = r"C:/Users/lunaf/Desktop/Projects/jellyfin-movie-recommender/data/tags.csv"

In [4]:
genome_scores_df = pd.read_csv(genome_scores_path)
genome_tags_df = pd.read_csv(genome_tags_path)
links_df = pd.read_csv(links_path)
movies_df = pd.read_csv(movies_path)
ratings_df = pd.read_csv(ratings_path)
tags_df = pd.read_csv(tags_path)

## Data Preprocessing & EDA

In [33]:
def df_summary(name, df):
    print(f"\n{name}")
    print(df.head())
    print("Shape:", df.shape)
    print(df.describe(include="all"))
    print(df.info())
    print("-" * 40)

datasets = {
    "Genome Scores": genome_scores_df,
    "Genome Tags": genome_tags_df,
    "Links": links_df,
    "Movies": movies_df,
    "Ratings": ratings_df,
    "Tags": tags_df
}

for name, df in datasets.items():
    df_summary(name, df)

Genome Scores
   movieId  tagId  relevance
0        1      1    0.03200
1        1      2    0.02225
2        1      3    0.07000
3        1      4    0.05900
4        1      5    0.12300
Shape: (18472128, 3)
            movieId         tagId     relevance
count  1.847213e+07  1.847213e+07  1.847213e+07
mean   6.421529e+04  5.645000e+02  1.111024e-01
std    7.245929e+04  3.256254e+02  1.499273e-01
min    1.000000e+00  1.000000e+00  2.500000e-04
25%    4.528750e+03  2.827500e+02  2.250000e-02
50%    3.292100e+04  5.645000e+02  5.325000e-02
75%    1.082962e+05  8.462500e+02  1.340000e-01
max    2.881670e+05  1.128000e+03  1.000000e+00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18472128 entries, 0 to 18472127
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   movieId    int64
 1   tagId      int64
 2   relevance  float64
dtypes: float64(1), int64(2)
memory usage: 422.8 MB
None
----------------------------------------

Genome Tags
   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s
Shape: (1128, 2)
              tagId   tag
count   1128.000000  1128
unique          NaN  1128
top             NaN   007
freq            NaN     1
mean     564.500000   NaN
std      325.769857   NaN
min        1.000000   NaN
25%      282.750000   NaN
50%      564.500000   NaN
75%      846.250000   NaN
max     1128.000000   NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128 entries, 0 to 1127
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tagId   1128 non-null   int64
 1   tag     1128 non-null   object
dtypes: int64(1), object(1)
memory usage: 17.8+ KB
None
----------------------------------------

Links
   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
Shape: (86537, 3)
             movieId        imdbId        tmdbId
count   86537.000000  8.653700e+04  8.641100e+04
mean   155932.817096  2.696384e+06  2.363101e+05
std     78037.145347  4.078415e+06  2.404829e+05
min         1.000000  1.000000e+00  2.000000e+00
25%    111443.000000  9.381100e+04  4.632800e+04
50%    164574.000000  4.845620e+05  1.362170e+05
75%    211225.000000  3.775202e+06  3.762850e+05
max    288983.000000  2.822749e+07  1.147612e+06
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86537 non-null  int64
 1   imdbId   86537 non-null  int64
 2   tmdbId   86411 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 2.0 MB
None
----------------------------------------

Movies
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
Shape: (86537, 3)
              movieId         title genres
count    86537.000000         86537  86537
unique            NaN         86330   1796
top               NaN  Alone (2020)  Drama
freq              NaN             4  12246
mean    155932.817096           NaN    NaN
std      78037.145347           NaN    NaN
min          1.000000           NaN    NaN
25%     111443.000000           NaN    NaN
50%     164574.000000           NaN    NaN
75%     211225.000000           NaN    NaN
max     288983.000000           NaN    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86537 non-null  int64
 1   title    86537 non-null  object
 2   genres   86537 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB
None
----------------------------------------

Ratings
   userId  movieId  rating   timestamp
0       1        1     4.0  1225734739
1       1      110     4.0  1225865086
2       1      158     4.0  1225733503
3       1      260     4.5  1225735204
4       1      356     5.0  1225735119
Shape: (33832162, 4)
             userId       movieId        rating     timestamp
count  3.383216e+07  3.383216e+07  3.383216e+07  3.383216e+07
mean   1.654380e+05  2.831348e+04  3.542540e+00  1.269362e+09
std    9.534122e+04  4.992865e+04  1.063959e+00  2.541023e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    8.295300e+04  1.219000e+03  3.000000e+00  1.046718e+09
50%    1.661290e+05  3.263000e+03  4.000000e+00  1.264740e+09
75%    2.474500e+05  4.049100e+04  4.000000e+00  1.496919e+09
max    3.309750e+05  2.889830e+05  5.000000e+00  1.689843e+09
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33832162 entries, 0 to 33832161
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 1.0 GB
None
----------------------------------------

Tags
   userId  movieId            tag   timestamp
0      10      260   good vs evil  1430666558
1      10      260  Harrison Ford  1430666505
2      10      260         sci-fi  1430666538
3      14     1221      Al Pacino  1311600756
4      14     1221          mafia  1311600746
Shape: (2328315, 4)
              userId       movieId      tag     timestamp
count   2.328315e+06  2.328315e+06  2328298  2.328315e+06
unique           NaN           NaN   153949           NaN
top              NaN           NaN   sci-fi           NaN
freq             NaN           NaN    14319           NaN
mean    1.776665e+05  7.055280e+04      NaN  1.522919e+09
std     8.285669e+04  7.402427e+04      NaN  1.308546e+08
min     1.000000e+01  1.000000e+00      NaN  1.135429e+09
25%     1.144050e+05  3.897000e+03      NaN  1.457997e+09
50%     2.154900e+05  5.107700e+04      NaN  1.561826e+09
75%     2.154900e+05  1.175330e+05      NaN  1.614286e+09
max     3.309470e+05  2.889550e+05      NaN  1.689841e+09
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2328315 entries, 0 to 2328314
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   tag        object
 3   timestamp  int64
dtypes: int64(3), object(1)
memory usage: 71.1+ MB
None
----------------------------------------

In [26]:
df = movies_df.merge(links_df, on="movieId", how="left")

In [27]:
df.head()

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0